.hero img {
  border-radius: 16px;
  display: block;
  object-fit: cover;
}

.hero .small-img {
  aspect-ratio: 3/2;
  margin: 0 auto 24px;
  width: 100%;
  max-width: 300px;
}

.hero .medium-img {
  aspect-ratio: 8/9;
  width: 300px;
  margin-bottom: -120px;
  transform: translateY(-1rem);
}

.about img {
  object-fit: scale-down;
  width: 100%;
}
